.page-option {
    background-color: #b286e0; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 300px;
    width: 200px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}