@font-face {
    font-family: 'OpenDyslexic';
    src: url('opendyslexic-bold.ttf') format('truetype'),
         url('opendyslexic-regular.ttf') format('truetype');
    /* Add more src lines if you have different font weights/styles */
    font-weight: normal; /* Adjust weight if needed */
    font-style: normal; /* Adjust style if needed */
}

body, html {
    /* font-family: 'opendyslexic';
    src: url('http://dyslexicfonts.com/fonts/OpenDyslexic-Regular.otf'); */
    font-family: 'Open-Dyslexic', sans-serif;
    background-color: #f0e3ce;
}


.page-option {
    background-color: #b286e0; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 300px;
    width: 200px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome-message {
    font-size: xx-large;
    align-items: center;
}

.logincontainer {
    position: absolute;
    top: 45%; 
    /* center vertically from https://www.w3schools.com/howto/howto_css_center-vertical.asp */
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
    margin: 20px;
    left: 0;
    text-align: left;
    max-width: 700px;
    height: fit-content;
    padding: 16px;
    border-radius: 10px;
    background-color: #f0e3ce;
  }

.login-message {
    color: black;
    text-align: center;
    padding-top: 20px;
}

.question {
    font-size: 30px;
    line-height: 60px;
    margin-bottom: 20px;
}

.answer {
    margin: auto;
    display: block;
    margin-bottom: 0;
}

.bg-img {
    /* the image used */
    background-image: url("Neurocator Prototype.jpg");
  
    /* control the height of the image */
    height: 100%;
    width: 100%;
    z-index: -1;
  
    /* center and scale the image nicely */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
