@font-face {
    font-family: 'OpenDyslexic';
    src: url('open-dyslexic.ttf') format('truetype'),
         url('open-dyslexic.ttf') format('truetype');
    /* Add more src lines if you have different font weights/styles */
    font-weight: normal; /* Adjust weight if needed */
    font-style: normal; /* Adjust style if needed */
}

.logout-button {
    background-color: #ba80c4;
}

.logout-button:hover {
    background-color: #ae59bd;
}

