<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blank</title>

    <link rel="stylesheet" href="/static/css/index.css" />
    <link href="/static/css/output.css" rel="stylesheet" />
    <script src="/static/js/webgazer/webgazer.js"></script>
  </head>
  <body>
    {% include 'templates/index.html' %}

    <div
      class="container mx-auto pt-16 sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8"
    >
      {% block body %}

      {% endblock %}
    </div>
  </body>
</html>