{% extends "base.html.j2" %}

{% block head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=OpenDyslexic:wght@400;700&display=swap">
{% endblock %}

{% block body %}

<div class="mb-16">
    <div class="banner">
        <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
            <div class="max-w-xxlg mb-10 md:mx-auto sm:text-center xlg:max-w-2xl md:mb-12">
                <h1 class="max-w-xlg mb-6 text-5xl font-bold leading-none tracking-tight text-gray-900 sm:text-7xl md:mx-auto">
                    Want to add a new post?
                </h1>
                <h1 class="h1">Fill out the form below!</h1>
                <p class="text-base text-gray-700 md:text-lg"></p>
            </div>
        </div>
    </div>
    <div>
        <form method="POST" action="addpost">
            <div class="container">
                <div>
                    <label for="title" class="form">Title</label>
                    <input type="text" id="title" name="title" placeholder="Enter your Post Title" required>
                </div>
                <div>
                    <label for="content" class="form">Content</label>
                    <input type="text" id="content" name="content" size="200" placeholder="Enter your Post Content" required>
                </div>
                <div>
                    <button type="submit" class="submit-button">Submit!</button>
                </div>
            </div>
        </form>
    </div>
</div>

<style>

    body {
        font-family: 'OpenDyslexic', sans-serif;
        background-color: #f0e3ce;
    }
    
    .form {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
        color: #333;
        font-size: 1.2em;
    }

    .container {
        max-width: 600px;
        margin: 50px auto;
        padding: 20px;
        border-radius: 20px;
        background-color: #ba80c4;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-around;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    h2 {
        font-size: 1.75rem;
        color: #333;
        text-align: center;
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
        color: #555;
        text-align: center;
    }

    input[type="text"] {
        width: 400px;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box;
        text-wrap: pretty;
        text-overflow: ellipsis;
    }

    button[type="submit"] {
        display: inline-block;
        width: 100%;
        padding: 10px;
        background-color: #b0d39b;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 1rem;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #a1c888;
    }


    .banner {
        background-color: #B0D39B;
    }

    .h1 {
        text-align: center;
        padding-top: 20px;
        font-size: 30px;
        color: #ba80c4;
    }
</style>

{% endblock %}