{% extends "base.html.j2" %}

{% block body %}
<style>
    body, html {
        font-family: 'OpenDyslexic', sans-serif;
        background-color: #f0e3ce;
        margin: 0px;
        height: 100%;
        overflow-x: hidden; /* Allow vertical scrolling */
    }

    .bg-img {
        background-image: url("{{ url_for('static', filename='Neurocator Prototype.jpg') }}");
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 60px; /* Add extra padding at the bottom */
    }

    .faq-container {
        background: #B0D39B; /* Slightly higher opacity for better readability */
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        max-width: 900px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px auto;
    }

    .faq-title {
        font-size: 2em;
        color: #333;
        margin-bottom: 20px;
    }

    .faq-text {
        color: #333;
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 20px;
    }

    .faq-item {
        margin-bottom: 20px;
        width: 100%;
    }

    .faq-item .question-wrapper {
        display: flex;
        align-items: center;
    }

    .faq-item button.question {
        width: calc(100% - 40px);
        text-align: left;
        background-color: #d49adf; /* Light green color */
        border: none;
        font-size: 1.2em;
        font-weight: bold;
        color: #333;
        cursor: pointer;
        padding: 15px 20px;
        border-radius: 20px; /* Rounded corners */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .faq-item button.question:focus {
        outline: 2px solid #333; /* High contrast outline for focus */
        outline-offset: 4px; /* Better visibility */
    }

    .faq-item button svg {
        transform: rotate(0);
        transition: transform 0.3s ease; /* Reduced animation for better sensory experience */
    }

    .faq-item.active button svg {
        transform: rotate(180deg); /* Rotate arrow when active */
    }

    .faq-item .content {
        display: none;
        padding: 20px;
        font-size: 1.2em; /* Slightly larger font size */
        color: #333;
        background-color: #e6d6ae; /* Light beige color */
        border-radius: 20px; /* Rounded corners */
        margin-top: 10px;
    }

    .faq-item.active .content {
        display: block;
    }

    .diction-btn {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1em;
        border-radius: 50%;
        cursor: pointer;
        margin-right: 10px;
    }

    .banner {
        background-color: #B0D39B;
    }

    .h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    color: #ba80c4;
    }

</style>

<div class="mb-16">
    <div class="banner">
        <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
            <div class="max-w-xxlg mb-10 md:mx-auto sm:text-center xlg:max-w-2xl md:mb-12">
                <h1 class="max-w-xlg mb-6 text-5xl font-bold leading-none tracking-tight text-gray-900 sm:text-7xl md:mx-auto">
                    Frequently Asked Questions
                </h1>
                    <h1 class="h1">Confused? Find answers to commonly-asked questions below!</h1>
                <p class="text-base text-gray-700 md:text-lg"></p>
            </div>
        </div>
    </div>

<div class="bg-img" id="backgroundImage"></div>
<div class="content">
    <div class="faq-container">
        <div class="faq-item">
            <div class="question-wrapper">
                <button class="diction-btn" onclick="speakText('What is Live Assistance? How does it work?')">🔊</button>
                <button type="button" class="question" onclick="toggleFaq(this)">
                    What is Live Assistance? How does it work?
                    <svg viewBox="0 0 24 24" class="w-3 text-gray-600 transition-transform duration-200">
                        <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="2,7 12,17 22,7" stroke-linejoin="round"></polyline>
                    </svg>
                </button>
            </div>
            <div class="content">
                <div class="question-wrapper">
                    <button class="diction-btn" onclick="speakText('Live Assistance is a structured tool that will help long-term personalized lesson planning by providing teachers with organizational resources. Before lectures, teachers are able to input their lesson plan into the website, and the web app will keep track of what they’ve covered and what they still need to talk about in real time.')">🔊</button>
                    <p>Live Assistance is a structured tool that will help long-term personalized lesson planning by providing teachers with organizational resources. Before lectures, teachers are able to input their lesson plan into the website, and the web app will keep track of what they’ve covered and what they still need to talk about in real time.</p>
                </div>
            </div>
        </div>
        <div class="faq-item">
            <div class="question-wrapper">
                <button class="diction-btn" onclick="speakText('Do I have to create an account?')">🔊</button>
                <button type="button" class="question" onclick="toggleFaq(this)">
                    Do I have to create an account?
                    <svg viewBox="0 0 24 24" class="w-3 text-gray-600 transition-transform duration-200">
                        <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="2,7 12,17 22,7" stroke-linejoin="round"></polyline>
                    </svg>
                </button>
            </div>
            <div class="content">
                <div class="question-wrapper">
                    <button class="diction-btn" onclick="speakText('Yes, our web page is structured around personalized assistance. Creating an account allows you to access the forum to discuss ideas with fellow teachers, keep track of your everyday tasks, and many more individualized features.')">🔊</button>
                    <p>Yes, our web page is structured around personalized assistance. Creating an account allows you to access the forum to discuss ideas with fellow teachers, keep track of your everyday tasks, and many more individualized features.</p>
                </div>
            </div>
        </div>
        <div class="faq-item">
            <div class="question-wrapper">
                <button class="diction-btn" onclick="speakText('Will there be more features added to the website?')">🔊</button>
                <button type="button" class="question" onclick="toggleFaq(this)">
                    Will there be more features added to the website?
                    <svg viewBox="0 0 24 24" class="w-3 text-gray-600 transition-transform duration-200">
                        <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="2,7 12,17 22,7" stroke-linejoin="round"></polyline>
                    </svg>
                </button>
            </div>
            <div class="content">
                <div class="question-wrapper">
                    <button class="diction-btn" onclick="speakText('Definitely! Our plan is to implement more customizable features in the future, such as moveable modules to make our website more interactive. We are always looking to improve our web page to be more accessible and easy to use for our users.')">🔊</button>
                    <p>Definitely! Our plan is to implement more customizable features in the future, such as moveable modules to make our website more interactive. We are always looking to improve our web page to be more accessible and easy to use for our users.</p>
                </div>
            </div>
        </div>
        <div class="faq-item">
            <div class="question-wrapper">
                <button class="diction-btn" onclick="speakText('How does Neurocator accommodate specifically for neurodiverse individuals?')">🔊</button>
                <button type="button" class="question" onclick="toggleFaq(this)">
                    How does Neurocator accommodate specifically for neurodiverse individuals?
                    <svg viewBox="0 0 24 24" class="w-3 text-gray-600 transition-transform duration-200">
                        <polyline fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" points="2,7 12,17 22,7" stroke-linejoin="round"></polyline>
                    </svg>
                </button>
            </div>
            <div class="content">
                <div class="question-wrapper">
                    <button class="diction-btn" onclick="speakText('Our web page has multiple neurodiverse friendly features including clearly labeled sections on our homepage, a customizable and well-organized interface, and helpful resources (i.e. infographics) for visual learners. We have also made sure to implement a dyslexic-friendly font and make our color scheme easy on the eyes to avoid overstimulating our users.')">🔊</button>
                    <p>Our web page has multiple neurodiverse friendly features including clearly labeled sections on our homepage, a customizable and well-organized interface, and helpful resources (i.e. infographics) for visual learners. We have also made sure to implement a dyslexic-friendly font and make our color scheme easy on the eyes to avoid overstimulating our users.</p>
                </div>
            </div>
        </div>
    </div>

<script>
    function toggleFaq(button) {
        const faqItem = button.closest('.faq-item');
        faqItem.classList.toggle('active');
    }

    function speakText(text) {
        if ('speechSynthesis' in window) {
            const utterance = new SpeechSynthesisUtterance(text);
            speechSynthesis.speak(utterance);
        } else {
            alert('Your browser does not support text-to-speech.');
        }
    }
</script>

{% endblock %}