{% extends "base.html.j2" %}

{% block body %}
<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Hello World Page</title>
    </head>

    <body>
        <p>hello</p>
    </body>


{% endblock %}
