{% extends "base.html.j2" %}

{% block body %}
    <!-- Main Content -->
    <div class="py-6">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                <!-- Your main content goes here -->
                <h1 class="text-3xl font-bold text-gray-900">Welcome! What would you like to do today?</h1>
            </div>
        </div>
    </div>

    <!-- Page Options -->
    <!-- <form method = "POST" action="forum"> form is going to be submitted via GET request--> 
    <div class="container">
        <div>  
            <a href="/forum">
                <button type="submit" class="page-option">Forum</button>
            </a>
        </div>

        <div>  
            <a href="/resources">
                <button type="submit" class="page-option">Resources</button>
            </a>
        </div>
    
        <div>  
            <a href="/live">
                <button type="submit" class="page-option">Lecture Live Assistance</button>
            </a>
        </div>
    

        <div>  
            <a href="/longtermplanning">
                <button type="submit" class="page-option">Long-Term Planning Tool</button>
            </a>
        </div>
    </div>

</html>

{% endblock %}