
<head>
    <title>Neurocator!</title>
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
</head>


{% block body %}

<div class="bg-img">

    <h1 class="welcome-message">Welcome to <span class="yellow">Neurocator</span><span>!</span></h1>

    <div>
    <form method = "POST" class="logincontainer">
        <p class="login-message">Already a user? Please login below!</p>
        <label class="question"><b>Username:</b></label>
        <input placeholder="Enter Username" name="username" class="answer" required>
        <label class="question"><b>Password:</b></label>
        <input type="password" placeholder="Enter Password" name="password" class="answer" required>
        <button type="submit">Log In!</button>
        <br>
        <a href="signup">Don't have an account? Signup here!</a>
    </form>
    </div>

</div>


{% endblock %}