{% extends "base.html.j2" %}

{% block head %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=OpenDyslexic:wght@400;700&display=swap">
{% endblock %}

{% block body %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $('.group-button').click(function () {
      var group = $(this).data('group');
      console.log(group);
      // Add border classes to elements with matching group
      $('.group-button[data-group="' + group + '"]').addClass("border-2 border-black");
      // Remove border classes from other elements
      $('.group-button:not([data-group="' + group + '"])').removeClass("border-2 border-black");

      if (group === 'All') {
        $('.resource-item').show();
      } else {
        $('.resource-item').hide();
        $('.resource-item[data-group="' + group + '"]').show();
      }
    });
  });
</script>
<div class="mb-16">

  <div class="bg-brand-primary">
    <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
      <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
        <h1 class="max-w-lg mb-6 text-5xl font-bold leading-none tracking-tight text-gray-900 sm:text-7xl md:mx-auto">
          Resources
        </h1>
        <p class="text-base text-gray-700 md:text-lg">
          Attention-deficit/hyperactivity disorder (ADHD) is a neurodevelopmental disorder affecting 11 percent of
          school-age children. Symptoms continue into adulthood in more than three-quarters of cases.
          ADHD is characterized by developmentally inappropriate levels of inattention, impulsivity, and hyperactivity.
        </p>
      </div>
    </div>
  </div>

  <div class="bg-page py-8">
    <div class="px-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
      <div class="flex flex-wrap justify-center mb-10">
        <button data-group="All"
          class="group-button mx-2 my-2 px-4 py-2 bg-brand-primary text-white rounded">All</button>
        <button data-group="Mental Health"
          class="group-button mx-2 my-2 px-4 py-2 bg-brand-primary text-white rounded">Mental Health</button>
        <button data-group="Autism"
          class="group-button mx-2 my-2 px-4 py-2 bg-brand-primary text-white rounded">Autism</button>
        <button data-group="ADHD"
          class="group-button mx-2 my-2 px-4 py-2 bg-brand-primary text-white rounded">ADHD</button>
        <button data-group="Dyslexia"
          class="group-button mx-2 my-2 px-4 py-2 bg-brand-primary text-white rounded">Dyslexia</button>
        <button data-group="Self-Advocacy"
          class="group-button mx-2 my-2 px-4 py-2 bg-brand-primary text-white rounded">Self-Advocacy</button>
        <button data-group="Organization"
          class="group-button mx-2 my-2 px-4 py-2 bg-brand-primary text-white rounded">Organization</button>
      </div>

      <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3" id="resource-container"></div>
    </div>
  </div>
</div>

<script type="text/javascript" src="../static/resource.js"></script>

<style>
  h1.textstyle {
    font-family: 'OpenDyslexic', sans-serif;
  }

  body {
    font-family: 'OpenDyslexic', sans-serif;
    background-color: #f0e3ce;
  }

  .bg-brand-primary {
    background-color: #B0D39B;
  }

  .text-brand-primary {
    color: #8fac7d;
  }

  .group-button.active {
    border: 2px solid #B0D39B;
  }

  .resource-card:hover {
    background-color: #f6efe6;
  }

  .border-2.border-black {
    border: 2px solid black;
  }
</style>

{% endblock %}