{% extends "base.html.j2" %}

{% block head %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Add your CSS framework here, for example Tailwind CSS -->
  <link href="/mnt/c/Users/wilya/Desktop/SNP-Reach-B1/tailwind.config.js" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/mnt/c/Users/wilya/Desktop/SNP-Reach-B1/static/style.css" />
</head>
{% endblock %}

{% block body %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $('.group-button').click(function () {
      var group = $(this).data('group');
      console.log(group);
      // Add border classes to elements with matching group
      $('.group-button[data-group="' + group + '"]').addClass("border-2 border-brand-tertiary");
      // Remove border classes from other elements
      $('.group-button:not([data-group="' + group + '"])').removeClass("border-2 border-brand-tertiary");

      if (group === 'All') {
        $('.resource-item').show();
      } else {
        $('.resource-item').hide();
        $('.resource-item[data-group="' + group + '"]').show();
      }
    });
  });
</script>
<div class="mb-16">

  <div class="bg-brand-primary ">
    <div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
      <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
        <h1
          class="max-w-lg mb-6 font-sans text-5xl font-bold leading-none tracking-tight text-gray-900 sm:text-7xl md:mx-auto">
          Resources
        </h1>
        <p class="text-base text-gray-700 md:text-lg">
          Attention-deficit/hyperactivity disorder (ADHD) is a neurodevelopmental disorder affecting 11 percent of
          school-age children. Symptoms continue into adulthood in more than three-quarters of cases.
          ADHD is characterized by developmentally inappropriate levels of inattention, impulsivity, and hyperactivity.
        </p>
      </div>
    </div>
  </div>

  <div class="bg-white py-8">
    <div class="px-4 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
      <div class="flex flex-wrap justify-center mb-10">
        <button data-group="All"
          class="group-button mx-2 my-2 px-4 py-2 bg-brand-primary text-white rounded">All</button>
        <button data-group="Articles"
          class="group-button mx-2 my-2 px-4 py-2 bg-brand-primary text-white rounded">Articles</button>
        <button data-group="Infographics"
          class="group-button mx-2 my-2 px-4 py-2 bg-brand-primary text-white rounded">Infographics</button>
      </div>
      <!-- PDF Resource --->
      <div class="grid gap-8 sm:grid-cols-2 lg:grid-cols-3">
        <div class="resource-item" data-group="Articles">
          <div class="card">
            <h3 class="card__title">Understanding ADHD</h3>
            <p class="card__content">A comprehensive guide to understanding ADHD, its symptoms, and treatment options.
            </p>
            <div class="card__date">Download PDF</div>
            <div class="card__arrow">
              <a href="/download/understanding-adhd.pdf">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
                  <path fill="#fff"
                    d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z">
                  </path>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <!--- Infographic Resource --->
        <div class="resource-item" data-group="Infographics">
          <div class="card">
            <h3 class="card__title">ADHD Statistics</h3>
            <p class="card__content">Download our infographic to see the latest statistics on ADHD.</p>
            <div class="card__date">Download Infographic</div>
            <div class="card__arrow">
              <a href="/download/adhd-statistics.png">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
                  <path fill="#fff"
                    d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z">
                  </path>
                </svg>
              </a>
            </div>
          </div>
        </div>

        <!-- Additional Resources -->
        <div class="resource-item" data-group="Articles">
          <div class="card">
            <h3 class="card__title">Living with ADHD</h3>
            <p class="card__content">A comprehensive guide to understanding ADHD, its symptoms, and treatment options.
            </p>
            <div class="card__date">Download PDF</div>
            <div class="card__arrow">
              <a href="/download/living-with-adhd.pdf">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
                  <path fill="#fff"
                    d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z">
                  </path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .bg-brand-primary {
    background-color: #B0D39B;
  }

  .text-brand-primary {
    color: #B0D39B;
  }

  .group-button.active {
    border: 2px solid #B0D39B;
  }

  .card {
    --border-radius: 0.75rem;
    --primary-color: #7257fa;
    /*B0D39B*/
    --secondary-color: #3c3852;
    width: 210px;
    padding: 1rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    background: #f1f1f3;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
    position: relative;
  }

  .card>*+* {
    margin-top: 1.1em;
  }

  .card .card__content {
    color: var(--secondary-color);
    font-size: 0.86rem;
  }

  .card .card__title {
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .card .card__date {
    color: #6e6b80;
    font-size: 0.8rem;
  }

  .card .card__arrow {
    position: absolute;
    background: var(--primary-color);
    padding: 0.4rem;
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    bottom: 0;
    right: 0;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card svg {
    transition: 0.2s;
  }

  /* hover */
  .card:hover .card__title {
    color: var(--primary-color);
    text-decoration: underline;
  }

  .card:hover .card__arrow {
    background: #111;
  }

  .card:hover .card__arrow svg {
    transform: translateX(3px);
  }
</style>

{% endblock %}